.progress-bar {
  width: 50%;
  margin: 30px 0;
}

.progress {
  height: 20px;
  background-color: #333333;
  width: 0;
  border-radius: 10px;
  transition: width 0.4s ease;
}

@media (max-width: 600px) {
  .csv-uploader form {
    width: 90%;
    box-sizing: border-box;
  }
}
